.navbar {
  color: white;
  height: 60px;
  width: 100%;
  background-color: rgb(26, 28, 51);
  box-shadow: 0 0 20px 1px rgba(15, 15, 15, 0.589);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 20;
}

.head{
  font-size: 20px;
  margin-left: 40px;
}

.link {
  text-decoration: none;
  padding: 10px;
  color: violet;
  transition: all 100ms ease-in-out;
  transition-delay: 100ms;
  cursor: pointer;
  margin-right: 40px;
}

.link__main{
  color: white;
  text-decoration: none;
}

.link:hover {
  border-bottom: 5px solid violet;
}

.active {
  border-bottom: 5px solid violet;
}

@media (max-width: 700px) {
  .navbar {
    padding: 0 20px;
  }
  .link {
    margin: 10px;
  }
}
